body {
    /* background-image: ; */
    background-color: rgb(202, 202, 202);
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    background-image: url(../img/fon1.jpg);
    /* background: linear-gradient(0deg, rgba(205,92,92,1) 0%, rgba(4,0,62,1) 100%); */
    color: indianred;
    border-color: indianred;
    cursor: default;
    background-size: cover;
    mask-repeat: repeat;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table, tr, td {
    color: black;
    border: 2px solid black;
    border-collapse: collapse;
    font-family: cursive;
    margin-top: 12%;
    margin-left: 21%;
    font-family: 'Times New Roman', Times, serif;
    border-spacing: 5px;
}

td {
    width: auto;
    text-align: center;
}

td:hover {
    color: rgb(0, 255, 204);
}

.element {
    float: left;
    width: 20%;
    font-weight: 600;
    font-size: 40px;
}

.element_right {
    float: right;
    width: 20%;
    font-weight: 600;
    font-size: 40px;
    padding-right: 10px;
}

.number_and_oxidation {
    float: right;
    width: 50%;
    text-align: right;
}

.symbol {
    float: left;
    width: 100%;
    text-align: left;
}

.number_and_oxidation1 {
    float: left;
    width: 50%;
    text-align: left;
}

.symbol1 {
    float: right;
    width: 100%;
    text-align: right;
}